#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.contactCard {
  background-color: rgb(246, 216, 216);
}

.viewContactDetailsContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.contactDetailsModal {
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgba(0,0,0,0.4);
  background-color: lightgrey;
  /* controls stacking order of overlapping elements on the page */
  z-index: 10; 
  /* display: flex; */
  justify-content: center;
  align-items: center;
  /* to position modal on top of everything else */
  position:fixed;
  top:calc(50% - 200px);
  left:calc(50% - 250px);
  width:500px;
  height:400px;
  padding-top: 40px;
}