#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  background-image: url('./assets/Designer.png');
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.gameDisplay {
  background-color: rgba(255, 255, 255, .8);
  padding: 80px;
  margin: 80px;
  border: 5px solid black;
}

h1 {
  color: #333;
}

h3 {
  color: #555;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #b7e8ff;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  background-color: #f994d2;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #b5f1fe;
}

p {
  margin: 10px 0;
}

.counts {
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  font-size: .8em;
  column-gap: 10px;
  margin-top: 20px;
}

.message {
  display: flex;
  justify-content: center;
  width: 50px;
  transition: width 1s;
  background-image: linear-gradient(rgb(164, 246, 251), rgb(255, 192, 208));
  border: 2px solid black;
}

.message:hover {
  width: 100px
}






