
body {
    background-color: rgb(233, 250, 227);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.topnav {
    overflow: hidden;
    background-color: rgba(157, 176, 147, 0.75);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: white;
    border-radius: 25px;
}

.topnav a:visited {
    color: white;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #bf98cc;
    color: white;
  }

  /* Style the "active" element to highlight the current page 
.topnav a.active {
    background-color: #46655b;
    color: white;
  }
  */

.topSection {
    display: flex;
    float: left;
    flex-direction: row;
    align-items: end;
    background-color: rgba(252, 247, 250, 0.5);
    border: 2px solid black;
    border-radius: 25px;
}

#headshot {
    border-radius: 25px;
}

.headerSection {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-left: 20px;
}

#contact {
    display: flex;
    justify-content: space-evenly;
    border: 2px solid black;
    background-image: linear-gradient(rgb(212, 175, 185), rgb(254, 233, 163));
    border-radius: 25px;
}

.skills {
    /*
    display: flex;
    flex-direction: column;
    */
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    align-items: center;
    background-color: rgb(212, 175, 185, .5);
    width: 180px;
    border-radius: 25px;
    border: 2px solid rgb(212, 175, 185);
    list-style: none;
}

li {
    padding: 10px;
}

.rightSide {
    /*
    display: flex;
    flex-direction: column;
    */
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 50%;
    justify-content: center;
    position: relative;
    height: 250px;
    /*
    left: 18%;
    right: 30%;
    top: 63%;
    */
    text-align: left;
    margin-bottom: 10%;
}

.mainBody {
    display: grid;
    column-gap: 10px;
    row-gap: 50px;
    grid-template-columns: 20% 40%;
}

 .fieldset {
    background-color: rgba(157, 176, 147, 0.75);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    /*
    display: flex;
    position: relative;
    flex-direction: column;
    */
    float:left;
    border: 2px solid rgba(157, 176, 147);
    border-radius: 25px;
    width: 150px;
    margin-bottom: 30%;
}

input[type=submit] {
    background-image: linear-gradient(rgb(212, 175, 185), rgb(254, 233, 163));
    padding: 0.5em 1em;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

@media (max-width: 400px) {
    .topnav a, .topnav input[type=text] {
        display:flex;
        width: 100%;
        margin: 0;
        padding: 8px;
      }
      .topnav input[type=text] {
        border: 1px solid #ccc;
      } 

    #headshot {
        width: 300px;
        height: auto;
        display: flex;
        border: 2px solid black;
      }
    .topSection {
        display: flex;
        float: none;
        flex-direction: column;
        align-items: center;
    }

    .mainBody {
        display: grid;
        column-gap: 10px;
        row-gap: 50px;
        grid-template-columns: 20% 40%;
    }

    .skills {
        display: flex;
        flex-direction: row;
        border: none;
        background-color: transparent;
        list-style-type: none;
    }

    li {
        display: flex;
        align-items: center;
        font-size: .75em;
        padding-right: 1em;
    }

    .rightSide {
        display: flex;
        flex-direction: column;
       
    }

    .formPage {
        display: flex;
        justify-content: center;
        margin: auto;
        border: 2px solid black;
    }

    .fieldset {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        margin: auto;
        gap: 8px;
    }

    input[type=submit] {
        background-color: #bf98cc;
        padding: 0.5em 1em;
        border: none;
        cursor: pointer;
    }
   
}

@media (min-width: 900px) {
    body {
        background-color: rgb(251, 229, 195);
    }
}

@media (min-width: 1200px) {
    body {
        background-color: rgb(238, 232, 255);
    }
}
