#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to right, purple, orange);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px, solid, black;
  /* to take off scroll bar */
  overflow: hidden;
}




