#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  color: #f9f9f9;
  background-image: url("https://t3.ftcdn.net/jpg/02/86/08/06/360_F_286080640_oOmrDov9izQLKNus78bsDMMpv1hAANao.jpg");
}

li {
  list-style-type: none;
}



.review-cards {
    background-color: rgba(255, 50, 190, 0.8);
    border: 2px solid white;
    padding: 30px;
    padding-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px; 
    transition: transform 0.3s ease, background-image 0.3s ease;
}

.review-cards:hover {
  transform: scale(1.05);
}

.gameDetailsModal {
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgb(209, 224, 248);
  /* controls stacking order of overlapping elements on the page */
  z-index: 10; 
  /* display: flex; */
  justify-content: center;
  align-items: center;
  /* to position modal on top of everything else */
  position:fixed;
  top:calc(50% - 200px);
  left:calc(50% - 250px);
  width: 500px;
  height: 300px;
  display: flex;
  transition: transform 0.3s ease, background-image 0.3s ease;
}

.create-review-container {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.create-review-form {
  display: flex;
  flex-direction: column;
}

.p-dropdown {
  width: auto;
}

.p-dropdown-open {
  width: auto;
}

.p-dropdown-items {
  background-color: rgb(215, 215, 251);
}

