
.shadows-into-light-regular {
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
}


.title, .recipeBackground {
  margin: auto;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.recipeBackground {
  flex-direction: column;
}

/* splits content into 3 columns that are centered
.recipeBackground {
  display: flex;
  justify-content: center;
}*/

.recipeContainer {
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(252, 247, 250, 0.5);
}

body {
  background-image: linear-gradient(rgb(248, 197, 227), rgb(206, 200, 242));
  /*background-color: rgb(248, 197, 227);*/
}


h1, h2 {
  color:rgb(101, 2, 60);
  font-family: "Shadows Into Light", cursive;
  font-size: 50px;
}

.otherRecipes {
  padding-top: 50px;
}

.description {
  width: 250px;
  border: 1px solid black;
}

/*.instructions {
  display: flex;

  border: 2px solid black;
}*/

/*
.recipe {
  width: 250px;
  float: left;
}

.instructions {
  width: 250px;
  float: left;
  
}

.otherRecpies {
  width: 250;
  flex-wrap: wrap;
} */


/* Mobile */
@media (max-width: 400px) {
  img {
    width: 80%;
    height: 80%;
  }
  h1, h2, .title {
    font-size: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: auto;
  }
  .recipeContainer {
    display: flex;
    flex-direction: column;
  }
  .description {
    border: none;
  }
  .otherRecipes {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .photoCredit {
    font-size: 10px;
  }
  #extraPhoto1, #extraPhoto2 {
    display: none;
  }
}

/*desktop*/
@media(min-width:401px) {
  #extraPhoto1, #extraPhoto2 {
    display: none;
  }
}

/* tester */
@media (min-width: 900px) and (max-width: 2000px) {
 .recipeContainer {
  padding: 0 20px 0 20px;
 }

 #extraPhoto1, #extraPhoto2 {
  display: flex;
  width: 250px;
  height: auto;
  object-fit: fill;
  margin-right: 50px;
  
 }

 #photos {
  display: flex;
  justify-content: center;
  padding: 50px 100px 50px 100px;
 }
}



